.detail-aside{
    position: sticky;
    top: 76px;
    .card-profile{
        color: $card-profile-color;
        .card-border{
            height: 2rem;
            background-color: $dark-blue;
        }
        .card-profile-name
        {
            font-size: 20px;
            font-weight: 700;
        }
        .mt-n4{
            margin-top: -1rem;
            z-index: 9;
        }
        .card-profile-avatar{
            width: 48px;
            height: 48px;
            border-radius: 24px;
            overflow: hidden;
            margin-right: 10px;
        }
        .btn-follow{
            background-color: $blue;
            color: $white;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            &:hover{
                background-color: $dark-blue;
            }
        }
        .card-profile-title{
            color:#646464;
        }
        ul.user-details {
            list-style: none;
            padding-left: 0;            
            li .key{
                color: #525252;
                font-size: 12px;
                font-weight: 700;
                margin-top: 10px;
            }
        }

    }
}
.card{
    overflow: hidden;
    .card-body{
        .main-profile{
            width: 40px;
            height: 40px;
        }        
    }
}

.profile-name{            
    p.post-date{
        font-size: 12px;
    }
}

/*Comments*/
#comments{
    h2{
        font-size: 24px;
    }
    .comment-subscription button {
        border: 1px solid rgb(214, 214, 215);
        background-color: $white;
        box-shadow: rgba(0, 0 ,0, 5%) 0px 1px 3px 0px;
    }
    .comments-container{
        gap:10px;        
        span.comments-avatar {
            width: 32px;
            height: 32px;
            overflow: hidden;
        }
        .comment-content{
            width: 100%;
            .comment{
                border: 1px solid #d6d6d7;
                border-radius: 8px;
                background-color: $white;
            }           

        }
        .form-comments{
            width: 100%;
            .form-comment-area{
                width: 100%;
                background-color: $white;
                border-radius: 8px;
                border: 1px solid #d6d6d7;
                textarea{
                    width: 100%;
                    height: 80px;
                    background-color: transparent;
                    border: 0;
                    resize: none;
                    &:focus{
                        border: 0;
                        box-shadow: none;
                    }                
                }
                &:focus-within{
                    border: 2px solid $blue;
                }
                .comment-form-toolbar{
                    gap: 10px;
                    display: flex;                    
                    justify-content: space-between;
                    border-top: 1px solid #d6d6d7;
                    align-items: center;
                    display: none;
                    button{
                        font-size: 12px;
                        color: #646464;
                        border: 0;
                        path {
                            fill: #646464;
                        }
                        &:hover{                            
                            background-color: rgba(0, 0, 0, 0.035);
                        }
                    }
                }
            }            
        }
        .comment-form-buttons{
            gap:10px;
            display: flex;
            justify-content: flex-start;
            display: none;          
            button{
                padding: 8px 16px;
                &.btn-submit{
                    background-color: $blue;
                    color:$white;
                }
                &.btn-preview{
                    background-color: rgb(214, 214, 215);
                    color:rgb(61, 61, 61);
                }
                
            }
        }
    }
    .code-of-conduct{
        font-size: 14px;
        a{
            color: #717171;
            &:hover{
                color: #717171;
            }
        }
        
    }
    .btn-reaction{
        border: 0;
        &:hover{
            background-color: $reaction-hover;
        }
        &.liked{
            background-color: $reaction-liked;
            path{
                fill:$red;
            }
        }
    }
}


#comments .comments-container .form-comment-area:focus-within  ~ .comment-form-buttons, #comments .comments-container .form-comment-area:focus-within .comment-form-toolbar{
    display: flex;
}

.aside-left{
    height: 100%;
}

.reactions-left-container{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    flex-direction: row;
    z-index: 999;
    background: $white;
    box-shadow: 0 -1px 5px $reaction-hover;
    border-radius: 8px 8px 0 0;
    .svg-container{ 
        padding: .5rem;        
    }    
    .reactions{      
        .reaction{
            
            .reaction-button-like{
                gap:4px;
                align-items: center;
                border: 0;
                span.reaction-count {
                    font-size: 14px;
                }
                &:hover{
                    .svg-container{
                        background-color: $reaction-hover;    
                        &.red{
                            background-color: $reaction-liked;
                            path{
                                fill: $red;
                            }
                        }
                        &.green{
                            background-color: $green-reaction-hover;
                            path{
                                fill: $green-reaction;
                            }
                        }
                        &.blue{
                            background-color: $blue-reaction-hover;
                            path{
                                fill: $blue-reaction;
                            }
                        }
                    }                                   
                }
            }
            #article-show-more-dropdown {
                display: none;
                min-width: 250px;
                /* width: 100%; */
                position: absolute;
                top: unset;
                bottom: 100%;
                z-index: 400;
                left: 0;
                right: 0;
                background: white;
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content;

                #copy-url-button{
                    width: 100%;
                }
            }
        }
    }
}

/*Responsive*/
@media only screen and (min-width:767px)
{
    .reactions-left-container{        
        justify-content: end;
        position: initial;  
        background-color: transparent; 
        box-shadow: none;   
        position: sticky;
        top: calc(#{$header-height} + 16px);     
        .reactions{
            flex-direction: column;   
                   
            .reaction{
                position: relative; 
                .reaction-button-like{
                    flex-direction: column;                   
                }
                #article-show-more-dropdown {
                    top: 20px;
                    left: 60px;                    
                    
                }
            }
            
        }
    }
}