.card-listing{
    .content-tags{
        color: #717171;  
        .opacity-50{                    
            opacity: .5;
        }              
    }
    
    ul {
        padding-left: 0;
        color: $card-profile-color;
    }
    .list-group-item {
        text-decoration: none;
        border-bottom: 1px solid rgb(245, 245, 245);
        padding-left: 1rem;
        padding: 1rem;    
        &:hover {
            background-color: $white;
            cursor: pointer;
            a{
                color: $dark-blue;
            }       
            
            .content-tags{
                color: #717171;                
            }            
        }
        &.create-list:hover {
            background-color: $light-gray;
        }
    
    }    
    .text-new {
        background-color: rgb(252, 211, 77);
        border-radius: 0.375rem;
        padding: 0.25rem;
        font-size: 0.875rem;
        color: rgb(120, 53, 15);
        text-align: center;
    }
}



.seeall {
    color: $blue;        
}

.card-header {
    align-items: center;
    background-color: $light-gray;
    border-bottom: 1px solid rgb(245, 245, 245);
    font-size: 14px;
    .card-title{
        font-weight: 700;
        font-size: 20px;       
    }
}


.card-tags {
    .seeall {
        font-weight: bold;
    }
}

.card-sponsorship, .card, #comments{
    background-color: $light-gray;
    h4{
        font-size: 14px;
        font-weight: 500;
    }
}
