.detail-aside{
    position: sticky;
    top: 76px;
    .card-profile{
        color: $card-profile-color;
        .card-border{
            height: 2rem;
            background-color: $dark-blue;
        }
        .card-profile-name
        {
            font-size: 20px;
            font-weight: 700;
        }
        .mt-n4{
            margin-top: -1rem;
            z-index: 9;
        }
        .card-profile-avatar{
            width: 48px;
            height: 48px;
            border-radius: 24px;
            overflow: hidden;
            margin-right: 10px;
        }
        .btn-follow{
            background-color: $blue;
            color: $white;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            &:hover{
                background-color: $dark-blue;
            }
        }
        .card-profile-title{
            color:#646464;
        }
        ul.user-details {
            list-style: none;
            padding-left: 0;            
            li .key{
                color: #525252;
                font-size: 12px;
                font-weight: 700;
                margin-top: 10px;
            }
        }

    }
}
.card{
    overflow: hidden;
    .card-body{
        .main-profile{
            width: 40px;
            height: 40px;
        }        
    }
}

.profile-name{            
    p.post-date{
        font-size: 12px;
    }
}

