.card{
    overflow: hidden;
    .card-body{
        .main-profile{
            width: 40px;
            height: 40px;
        }        
    }
}

.profile-name{            
    p.post-date{
        font-size: 12px;
    }
}