/*Imports*/
@import "variables";
@import "nav";
@import "asideright";
@import "main";
@import "detail";
@import "footer"

body{
    background-color: $bg-body;
}
img{
    max-width: 100%;
}

.container-main{
    margin-top: $header-height;
}
a{
    color: #000;
    text-decoration: none;
}

.footer{
    background-color:black;
}